section#internship {
    box-sizing: border-box;
    height: auto;
    padding: 2.25rem;
    display: flex;
    flex-direction: column;
    padding: 2.25rem;
}
section#internship .text {
    font-size: 1.25rem;
    line-height: 110%;
    align-self: center;
}
section#internship .text h2 {
    font-size: 2rem;
    font-weight: 700;
    padding: 20px 0px;
}
section#internship img {
    align-self: center;
    width: 250px;
    height: auto;
    padding: 1rem;
}

.intership__title{
    text-align: right;
    font-size: 4rem;
    font-weight: 600;
    padding: 20px 0;
}

.intership__title h1{
    display: block;
}

.intership__right{
    display: block;
    width: 50%;
    position: relative;
    padding: 8% 2rem 6rem 2rem;
    height: auto;
}

.intership__right p{
    font-size: 1.5rem;
    width: 90%
}

#rosa{
    color: #f35c69;
}

#azul{
    color: #5f54dc;
}

#blanco{
    color: #F7F3F4;
}

