#intership{
    margin: 0 2rem;
    box-sizing: border-box;
}
.container {
    padding: 2.25rem;
    display: flex;
    justify-content: space-between
}
.container__title {
    color: #f35c69;
    font-weight: bold;
    font-size: 4rem;
    padding: 20px 0;
}
.container__title h2{
    display: block;
}
.container__right{
    display: block;
    width: 50%;
    position: relative;
    padding: 8% 2rem 6rem 2rem;
    height: auto;
}

.container__right p{
    font-size: 1.5rem;
    width: 90%
}
.container__img{
    display: inline-flex;
    vertical-align: top;
    opacity: 1;
}
#rosa{
    color: #f35c69;
}
#azul{
    color: #5f54dc;
}

